<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    {{>header}}

    <div class="main-content">
        <p> {{message}}</p>
    </div>


    {{>footer}}
</body>


</html>